{{#each this}}
<li class='country__item'>
    <img class='country__flag' width='60' height='40' src={{flags.svg}} alt='country flag' />
    <p class='country__name'>{{name.official}}</p>
</li>
{{/each}}